.profile__user-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;  
    width:90%;
}
@media screen and (max-width:800px) {
    .profile__user-container{
        max-width: 100%;
    }
    
}
@media screen and(max-width:500px) {
    .profile__user-container{
        max-width: 254px;
    }
}


