.profile__add-button-style{
    position: absolute;
    margin: auto;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../../images/profile-add-button.svg);
    width: 22px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
   
}