.popup__input-error {
    margin: 0;
    padding: 0%;
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    margin-top: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 358px;

}