.footer__copyright{
    width: 100%;
    margin: 0%;
    display: block;
    color:  #545454;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}



@media screen and (max-width:400px){
    .footer__copyright{
     font-size: 14px;
     line-height: 17px;
    }
}