.popup__close-icon-style{
    display: block;
 background-image: url(../../../images/Close-Icon.svg);
 width: 100%;
 height: 100%;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;

}

