.header {
    margin: 3.51% auto 0 auto;
    padding: 0%;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width:700px) {
    .header {
        margin-top: 8.75%;
    }

}