.element{
    margin: 0%;
    display: block;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-height: 361px;
    box-sizing: border-box;
    position: relative;
    
}