.profile__user-about{
   margin: 0;
   margin-top: 16px;
   font-size: 18px;
   line-height: 21.78px;
   font-weight: 400;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   }
   
   @media screen and (max-width:800px){
      .profile__user-about{
         text-align: center;
      }
   }
@media screen and (max-width:650px){
   .profile__user-about{
      margin-top:9px;
      font-size: 14px;
      line-height: 16px;
   }
}