.profile__avatar {
    margin: 0;
    padding: 0%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    cursor: pointer;
}

.profile__avatar:hover {
    opacity: .2;
}


@media screen and (max-width:800px) {
    .profile__avatar {
        margin: 0 auto;
    }
}