.profile__avatar_edit {
    background-image: url('../../../../images/pen.svg');
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    position: absolute;
    margin-left: 47px;
    display: none;
}

@media screen and (max-width:800px) {
    .profile__avatar_edit {
        margin: 47px auto;
    }
}