@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__flex/profile__flex.css);
@import url(../blocks/profile/__user-container/profile__user-container.css);
@import url(../blocks/profile/__user-name/profile__user-name.css);
@import url(../blocks/profile/__user-about/profile__user-about.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__grid-container/elements__grid-container.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__caption-container/element__caption-container.css);
@import url(../blocks/element/__caption-about/element__caption-about.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__button/_active/element__button_active.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__edit-form/popup__edit-form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copytight.css);




.element__delete-button {
    background-color: transparent;
    background-image: url(../images/Trash.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 19.3px;
    right: 20px;
    top: 20px;
    border: none;
    cursor: pointer;

}

.element__delete-button:hover {
    opacity: .6;
}


.popup__fullscreen-container{
    position: relative;
    margin: 0 auto;
    padding: 0;
   
}



.popup__fullscreen-image{
    margin: auto;
    max-width: 75vw;
    min-width: 25vw;
    min-height: 25vh;
    max-height: 75vh;
    object-fit: contain;
    object-position: center;
   
}

.popup__fullscreen{
    background-color:rgba(0,0,0,.9) ;
}

.popup__caption{
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
  
}

.popup__caption-container{
    margin: 0;
}