
.profile__edit-button-style {
    width: 10px;
    height: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../../images/profile-button.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
}

