.element__button-style{
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
}

.element__button-style:hover{
    opacity: .5;
}