.profile__user-container{
    max-width: 450px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;  
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
